# Task1

2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [1]:
valid_numbers = []
for i in range(2000, 3201):
    if i%7 == 0 and i%5 !=0:
        valid_numbers.append(i)
print(valid_numbers)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

-------------------------------------------------------------------------------------------------------------------
3. Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [2]:
first_name = input("Enter First Name : ")
last_name = input("Enter Last Name : ")
print(' '.join([first_name[::-1], last_name[::-1]]))

Enter First Name : Ramamoorthy
Enter Last Name : Paramasivam
yhtroomamaR mavisamaraP

----------------------------------------------------------------
Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [120]:
import math
diameter = 12
radius = diameter/2

#solution 1
print((4/3) * math.pi * math.pow(radius,3))

#solutions 2
print((4/3) * 3.14 * radius**3)

904.7786842338603
904.3199999999999

# Task2

1. Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [4]:
number_str = input("Enter comma separated numbers: ")
number_as_str_format_list = number_str.replace(',','')

a = []
#solution 1. print it as number. assume all inputted values as number
for i in number_as_str_format_list:
    a.append(int(i))
print("Numbers as integer in the list: ", a)

print()

#solution 2. print number is a string format
print("Numbers as string in the list: ",list(number_as_str_format_list))

Enter comma separated numbers: 1,2,3,4,5
Numbers as integer in the list:  [1, 2, 3, 4, 5]

Numbers as string in the list:  ['1', '2', '3', '4', '5']

-------------------------------

2. Create the below pattern using nested for loop in Python.

In [5]:
max_star = 5

for i in range(max_star+1):
    print("*" * i)
    if i == max_star:
        for j in reversed(range(max_star)):
            print("*" * j)

*
**
***
****
*****
****
***
**
*

--------------------

3. Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [7]:
word_to_reverse = input("Please enter word to reverse: ")
print(word_to_reverse[::-1])

Please enter word to reverse: AcadGild
dliGdacA

----------
4. Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens

In [116]:
sentence = 'WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens'

tokens = sentence.split(',',3)
tokens[0:2] = [','.join(tokens[0:2])]
temp = tokens[2].replace('and', '.and').split('.')
tokens[2] = '!'
tokens.extend(temp)
tokens[1:3] = [', '.join(tokens[1:3])]

tokens[1] = "\t"+tokens[1]
tokens[2] = "\t\t"+tokens[2]
tokens[3] = "\t\t\t"+tokens[3]

print('\n'.join(tokens))

WE, THE PEOPLE OF INDIA
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
			and to secure to all its citizens